<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Border_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,50}</string>
                <key>spriteSourceSize</key>
                <string>{628,50}</string>
                <key>textureRect</key>
                <string>{{1223,1305},{628,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Border_WdwList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,20}</string>
                <key>textureRect</key>
                <string>{{1,1955},{1100,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frm_List.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1054,110}</string>
                <key>spriteSourceSize</key>
                <string>{1054,110}</string>
                <key>textureRect</key>
                <string>{{773,823},{1054,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_List_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1054,110}</string>
                <key>spriteSourceSize</key>
                <string>{1054,110}</string>
                <key>textureRect</key>
                <string>{{885,823},{1054,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_WdwDialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,70}</string>
                <key>spriteSourceSize</key>
                <string>{840,70}</string>
                <key>textureRect</key>
                <string>{{1491,943},{840,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_WdwDialog2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{830,70}</string>
                <key>spriteSourceSize</key>
                <string>{840,70}</string>
                <key>textureRect</key>
                <string>{{1635,943},{830,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_WdwDialog_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,70}</string>
                <key>spriteSourceSize</key>
                <string>{840,70}</string>
                <key>textureRect</key>
                <string>{{1563,943},{840,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_WdwList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,40}</string>
                <key>spriteSourceSize</key>
                <string>{940,40}</string>
                <key>textureRect</key>
                <string>{{1449,371},{940,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_WdwList2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,40}</string>
                <key>spriteSourceSize</key>
                <string>{940,40}</string>
                <key>textureRect</key>
                <string>{{1491,1},{940,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_WdwList3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,40}</string>
                <key>spriteSourceSize</key>
                <string>{940,40}</string>
                <key>textureRect</key>
                <string>{{1533,1},{940,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_WdwList4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,40}</string>
                <key>spriteSourceSize</key>
                <string>{940,40}</string>
                <key>textureRect</key>
                <string>{{1575,1},{940,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_WdwList5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,40}</string>
                <key>spriteSourceSize</key>
                <string>{940,40}</string>
                <key>textureRect</key>
                <string>{{1617,1},{940,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frm_WdwTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{1080,162}</string>
                <key>spriteSourceSize</key>
                <string>{1080,168}</string>
                <key>textureRect</key>
                <string>{{609,823},{1080,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wdw_Dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{932,224}</string>
                <key>spriteSourceSize</key>
                <string>{946,248}</string>
                <key>textureRect</key>
                <string>{{997,823},{932,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wdw_Dialog2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{1112,224}</string>
                <key>spriteSourceSize</key>
                <string>{1126,248}</string>
                <key>textureRect</key>
                <string>{{1,371},{1112,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wdw_Dialog2_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{1112,224}</string>
                <key>spriteSourceSize</key>
                <string>{1126,248}</string>
                <key>textureRect</key>
                <string>{{1,597},{1112,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wdw_Dialog_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{932,224}</string>
                <key>spriteSourceSize</key>
                <string>{946,248}</string>
                <key>textureRect</key>
                <string>{{1223,371},{932,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wdw_List.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1130,150}</string>
                <key>spriteSourceSize</key>
                <string>{1140,152}</string>
                <key>textureRect</key>
                <string>{{1,823},{1130,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wdw_List2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1130,150}</string>
                <key>spriteSourceSize</key>
                <string>{1140,152}</string>
                <key>textureRect</key>
                <string>{{153,823},{1130,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wdw_List3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1130,150}</string>
                <key>spriteSourceSize</key>
                <string>{1140,152}</string>
                <key>textureRect</key>
                <string>{{305,823},{1130,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wdw_List4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1130,150}</string>
                <key>spriteSourceSize</key>
                <string>{1140,152}</string>
                <key>textureRect</key>
                <string>{{457,823},{1130,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wdw_SRPGMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1470,368}</string>
                <key>spriteSourceSize</key>
                <string>{1470,368}</string>
                <key>textureRect</key>
                <string>{{1,1},{1470,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Common_Window.png</string>
            <key>size</key>
            <string>{1706,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:892167b00ab1f00a185434f67ecd2b0f:a61a8ce9f744ad8c4938ded53ed1e2ab:bb9427c3cf5d61b7bf6484a78d5a1f3c$</string>
            <key>textureFileName</key>
            <string>Common_Window.png</string>
        </dict>
    </dict>
</plist>
