<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Font_HP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{550,154}</string>
                <key>spriteSourceSize</key>
                <string>{552,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{550,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Font_Score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{1434,384}</string>
                <key>spriteSourceSize</key>
                <string>{1444,412}</string>
                <key>textureRect</key>
                <string>{{1,213},{1434,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Font_Status.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{654,210}</string>
                <key>spriteSourceSize</key>
                <string>{656,210}</string>
                <key>textureRect</key>
                <string>{{1091,1},{654,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Font_StatusS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,170}</string>
                <key>spriteSourceSize</key>
                <string>{536,170}</string>
                <key>textureRect</key>
                <string>{{553,1},{536,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Font.png</string>
            <key>size</key>
            <string>{1746,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cb50aa8393b44639cf1f28ff709f80e:a178312d3501209a799951c0d1aded22:8f481ed1e4010f7abe977f374c215db9$</string>
            <key>textureFileName</key>
            <string>Font.png</string>
        </dict>
    </dict>
</plist>
