<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DL_Arrow_L.0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{160,250}</string>
                <key>textureRect</key>
                <string>{{1365,1},{150,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DL_Arrow_L.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{160,250}</string>
                <key>textureRect</key>
                <string>{{1607,1},{150,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DL_Arrow_R.0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{148,240}</string>
                <key>spriteSourceSize</key>
                <string>{160,250}</string>
                <key>textureRect</key>
                <string>{{1365,153},{148,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DL_Arrow_R.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{148,240}</string>
                <key>spriteSourceSize</key>
                <string>{160,250}</string>
                <key>textureRect</key>
                <string>{{1759,1},{148,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DL_Frm_Name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{638,360}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{638,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DL_Gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{106,202}</string>
                <key>spriteSourceSize</key>
                <string>{110,216}</string>
                <key>textureRect</key>
                <string>{{1607,243},{106,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_Balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1811,243},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit_BGLight.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{641,1},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unit_BGLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{1003,1},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Loading.png</string>
            <key>size</key>
            <string>{1908,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cd29c03dc3c093db04607f377b3a964:ae552c2bddea0cc80997b01c06d6798a:99986db93f64d1ab159b0705e98c5da7$</string>
            <key>textureFileName</key>
            <string>Loading.png</string>
        </dict>
    </dict>
</plist>
